name: Python CI/CD

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'

jobs:
  python-ci:
    runs-on: ubuntu-latest

    env:
      MYSQL_DATABASE: devtalk
      MYSQL_USER: mysql
      MYSQL_PASSWORD: mysql
      MYSQL_ROOT_PASSWORD: root
      HOST: 127.0.0.1
      PORT: 33306

    services:
      mysql:
        image: mysql:8.0
        env:
          MYSQL_DATABASE: devtalk
          MYSQL_USER: mysql
          MYSQL_PASSWORD: mysql
          MYSQL_ROOT_PASSWORD: root
        ports:
          - 33306:3306
        options: >-
          --health-cmd="mysqladmin ping -h localhost"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

    steps:
      - name: Check out repository
        uses: actions/checkout@v2

      - name: Initialize Database with models.sql
        run: |
          mysql -h ${{ env.HOST }} -P ${{ env.PORT }} -u ${{ env.MYSQL_USER }} -p${{ env.MYSQL_PASSWORD }} ${{ env.MYSQL_DATABASE }} < ./src/models.sql
      # Запуск Python CI
      - name: Run Python CI
        uses: notickets/org-workflows@python
        with:
          python-version: '3.11'

  docker-publish:
    runs-on: ubuntu-latest
    needs: python-ci
    if: github.ref == 'refs/heads/main'

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set Repository Name
        id: repo
        run: echo "REPO_NAME=${GITHUB_REPOSITORY##*/}" >> $GITHUB_ENV

      - name: Publish Docker image
        uses: notickets/org-workflows@python-docker
        with:
          image-name: 'latest'
